services:
  api:
    container_name: webgis-api
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm run dev # use npm start for production


