<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="app.js/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="C:\Users\nilsgb\AppData\Local\nvm\v22.16.0\node.exe" 
      loggingEnabled="true" 
      logDirectory="iisnode"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>
